@import "_reset";
@import "_colors";


header {
    border-bottom: 2px $black solid;

    header img {
        width: 350px;
    }
}

.nav {
    background-color: $secondary-color;
    height: 80px;
    z-index: 3;
    width: 100%;

    .nav__container {
        display: flex;
        height: 100%;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        background-color: $secondary-color;

        .nav__logo {
            box-shadow: $shadow-color 3px 5px;
            border: $black 2px solid;
            width: 350px;

            @media (max-width:576px) {
                box-shadow: none;
                border: none;
            }
        }

        .nav__label {
            display: none;

            .nav__img {
                width: 40px;
            }

            @media (max-width:576px) {
                display: block;
                cursor: pointer;
            }

        }

        .nav__input {
            display: none;

        }

        .nav__menu {
            display: grid;
            grid-auto-flow: column;
            gap: 2em;

            .nav__item {
                text-decoration: none;
                --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
                background-color: $primary-color;
                color: $black;
                height: 50px;
                border: 2px solid $black;
                padding: 5px;
                box-shadow: $shadow-color 3px 5px;

                &::after {
                    content: "";
                    display: block;
                    background: $primary-color;
                    width: 90%;
                    margin-top: 3px;
                    height: 3px;
                    clip-path: var(--clippy);
                    transition: clip-path .5s;

                }

                &:hover {
                    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }


            @media (max-width:576px) {
                border-top: $dark-brown 4px solid;
                position: fixed;
                top: 80px;
                bottom: 0px;
                background-color: $light-brown;
                width: 100%;
                left: 0px;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                align-items: center;
                clip-path: circle(0 at center);
                transition: clip-path .5s ease-in-out;
                z-index: 10;
            }
        }

    }
}


.nav__input:checked+.nav__menu {
    background-color: $light-brown;
    clip-path: circle(100% at center);
}

/*FIN HEADER*/
/*INICIO MAIN*/

main {
    border-top: $shadow-color 5px solid;
    background-image: url(../assets/Wave.svg);
    background-size: cover;


    h1 {
        font-size: 25px;
        font-weight: bold;
        text-align: center;
    }

    h2 {
        font-size: 25px !important;
        text-align: center;
        font-weight: bold;
    }

    h3 {
        font-size: 16px;
        color: #333;
    }


    .row {
        --bs-gutter-x: 0;
    }


    .info {
        display: flex;
        height: 350px;
        width: 1000px;
        background-color: $primary-color;
        padding: 1rem;
        border: 2px solid $black;
        box-shadow: 10px 15px $shadow-color;
        margin: 0 auto;
        margin-top: 3rem;

        @media (max-width:576px) {
            flex-direction: column;
            height: auto;
            width: 90%;
            margin-bottom: 2rem;
        }

        .info__img {
            border: 5px solid $shadow-color;

            @media (max-width:576px) {
                height: 300px;
                object-fit: cover;

            }


        }

    }

    .height-info {
        height: 130vh;

        @media (max-width:576px) {
            height: 195vh;
        }
    }

    @media (max-width:576px) {
        height: auto;
    }
}




.centre {
    height: 110vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .main__layout-2 {
        display: flex;
        background-color: $primary-color;;
        padding: 25px;
        align-items: center;
        box-shadow: 10px 15px $shadow-color;
        border: 2px solid $black;
        height: 450px;

        @media (max-width:576px) {
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: 850px;
        }

        .main__organization {
            display: flex;
            height: 300px;
            align-items: center;
            text-align: left;
            padding: 30px;
            justify-content: space-between;

            @media (max-width:576px) {
                flex-direction: column;
                width: 90%;
                padding: 5px;
            }

            .divi {
                width: 550px;





                .masInfo {
                    padding: 10px;
                    background-color: $shadow-color;
                    color: $white;
                    box-shadow: #222 3px 5px;
                    margin: 10px;


                    @media (max-width:576px) {
                        .margin {
                            margin: 10px;
                        }
                    }

                    &:active {
                        background-color: #c4ac7e;
                        color: $black
                    }
                }



                @media (max-width:576px) {
                    width: 100%;
                }
            }

            .divi h1 {
                text-align: left;
                font-size: 40px;

                @media (max-width:576px) {
                    font-size: 25px;
                }

            }

            .divi h3 {
                font-size: 25px;

                @media (max-width:576px) {
                    font-size: 18px;
                }
            }

        }

        .carousel {
            border: 5px solid $shadow-color;
            margin: 10px;

            .carousel-item {
                width: 450px;

                @media (max-width:576px) {
                    width: 100%;
                }
            }

            .carousel-control-next-icon,
            .carousel-control-prev-icon {
                background-color: #888;
            }
        }





    }



    .main__layout {
        display: flex;
        background-color: $primary-color;
        padding: 25px;
        align-items: center;
        box-shadow: 10px 15px $shadow-color;
        border: 2px solid $black;

        @media (max-width:576px) {
            flex-direction: column;
            justify-content: space-between;
            width: 90%;
            height: auto;
        }

        .main__organization {
            @extend .main__organization;

            @media (max-width:576px) {
                flex-direction: column;
                width: 90%;
                padding: 5px;
            }

            .divi {
                width: 550px;





                .masInfo {
                    padding: 10px;
                    background-color: $shadow-color;
                    color: $white;
                    box-shadow: #222 3px 5px;
                    margin: 10px;



                    @media (max-width:576px) {
                        .margin {
                            margin: 10px;
                        }
                    }

                    &:active {
                        background-color: #c4ac7e;
                        color: $black
                    }
                }



                @media (max-width:576px) {
                    width: 100%;
                }
            }

            .divi h1 {
                text-align: left;
                font-size: 40px;

                @media (max-width:576px) {
                    font-size: 25px;
                }

            }

            .divi h3 {
                font-size: 25px;

                @media (max-width:576px) {
                    font-size: 18px;
                }
            }

        }

        .carousel {
            border: 5px solid $shadow-color;
            margin: 10px;

            .carousel-item {
                width: 450px;

                @media (max-width:576px) {
                    width: 100%;
                }
            }
        }
    }
}


.height-testimonial {
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    
 
    .deploy-menu {
        position: relative;
        display: inline-block;
        width: 400px;

        .divi1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            transition: 500ms;
            padding: 4px 8px;
            text-decoration: none;
            width: 400px;
            text-align: center;
            margin: 0 auto;

            .title-name {
                border: 2px solid $black;
                background-color: $primary-color;
                box-shadow: #333 3px 5px;
                color: $black;
                padding: 8px 16px;
                font-size: 16px;
                cursor: pointer;
                margin: 3rem;

            }

            .testimonial-info {
                display: flex;
                align-items: center;

                .testimonial-name {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: #777;
                    visibility: hidden;
                }

                .testimonial-img {
                    height: 100px;
                    width: 120px;
                    border-radius: 50%;
                    margin-right: 10px;
                    visibility: hidden;

                }
            }

            &:hover {
                background-color: $primary-color;
                text-align: center;
                border: 2px solid $black;
                box-shadow: 10px 15px $shadow-color;
                width: 80%;
                margin: 30px auto ;
            }

            &:hover>.title-name {
                border: none;
                box-shadow: none;
                color: $black;
            }

            &:hover>p {
                visibility: visible;
            }

            &:hover>.testimonial-info>.testimonial-name>span {
                visibility: visible;
            }

            &:hover>.testimonial-info>.testimonial-img {
                visibility: visible;
            }

            &:hover>.testimonial-info>span {
                visibility: visible;
            }


        }



        .divi1 p {
            visibility: hidden;
        }

        &:hover {
            display: block;
            width: 400px;
        }
    }

    
.testimonial-centre{
    display: flex;
    justify-content: space-around;
    align-items: center;


.deploy-menu {
    @extend .deploy-menu;

    .divi1 {
        @extend .divi1;

        .title-name {
            @extend .title-name;

        }

        .testimonial-info {
            @extend .testimonial-info;

            .testimonial-name {
                @extend .testimonial-name;
            }

            .testimonial-img {
                @extend .testimonial-img;
            }
        }

        &:hover {
            background-color: $primary-color;
            text-align: center;
            border: 2px solid $black;
            box-shadow: 10px 15px $shadow-color;
            width: 80%;
            margin: 30px auto ;
        }

        &:hover>.title-name {
            border: none;
            box-shadow: none;
            color: $black;
        }

        &:hover>p {
            visibility: visible;
        }

        &:hover>.testimonial-info>.testimonial-name>span {
            visibility: visible;
        }

        &:hover>.testimonial-info>.testimonial-img {
            visibility: visible;
        }

        &:hover>.testimonial-info>span {
            visibility: visible;
        }


    }



    .divi1 p {
        visibility: hidden;
    }

    &:hover {
        display: block;
        width: 400px;
    }
}
}
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    width: 400px;

    @media (max-width:576px) {
        width: 90%;
    }

    .loginform {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 300px;
        width: 70%;
        opacity: .9;
    }

    .masInfo {
        padding: 10px;
        background-color: $shadow-color;
        color: $white;
        box-shadow: #333 3px 5px;
    }

    .height {
        @media (max-width:576px) {
            height: 40vh;
        }
    }

}

.pie-pagina {
    width: 100%;
    background-color: $dark-brown;

    .grupo-1 {
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;

        @media (max-width:576px) {
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35% 0px;
        }


        .box figure {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .box figure img {
            width: 300px;
        }

        .box h2 {
            color: $white;
            margin-bottom: 25px;
            font-size: 20px;
        }

        .box p {
            color: #efefef;
            margin-bottom: 10px;
        }

        .box {
            .red-social a {
                display: inline-block;
                text-decoration: none;
                width: 45px;
                height: 45px;
                line-height: 45px;
                color: $white;
                margin-right: 10px;
                background-color: $shadow-color;
                text-align: center;
                transition: all 300ms ease;
                box-shadow: $black 3px 5px;

                & a:hover {
                    color: #9f8c65;
                }
            }
        }
    }

    .grupo-2 {
        background-color: $black;
        padding: 15px 10px;
        text-align: center;
        color: $white;
    }

    .grupo-2 small {
        font-size: 15px;
    }
}