* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  font-size: 16px;
  box-sizing: border-box; }

header {
  border-bottom: 2px #000 solid; }
  header header img {
    width: 350px; }

.nav {
  background-color: #d0bd93;
  height: 95px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .nav .nav__logo {
    box-shadow: #3f3835 3px 5px;
    border: #000 2px solid;
    width: 350px;
    margin-left: 30px; }
    @media (max-width: 576px) {
      .nav .nav__logo {
        box-shadow: none;
        border: none;
        width: 250px; } }
  .nav .nav__label {
    display: none; }
    .nav .nav__label .nav__img {
      width: 40px; }
    @media (max-width: 576px) {
      .nav .nav__label {
        display: block;
        cursor: pointer; } }
  .nav .nav__input {
    display: none; }
  .nav .nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em; }
    .nav .nav__menu .nav__item {
      text-decoration: none;
      background-color: #FFF8B4;
      color: #000;
      height: 43px;
      border: 2px solid #000;
      padding: 5px;
      box-shadow: #3f3835 3px 5px;
      margin-right: 10px; }
      .nav .nav__menu .nav__item:active {
        background-color: #615651;
        height: 40px;
        display: block; }
      .nav .nav__menu .nav__item:hover {
        scale: 1.1; }
      .nav .nav__menu .nav__item a {
        text-decoration: none;
        color: #000; }
    @media (max-width: 576px) {
      .nav .nav__menu {
        border-top: #615651 4px solid;
        position: fixed;
        top: 80px;
        bottom: 0px;
        background-color: #e9dab6;
        width: 100%;
        left: 0px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        z-index: 10; } }

.nav__input:checked + .nav__menu {
  background-color: #e9dab6;
  clip-path: circle(100% at center); }

/*FIN HEADER*/
/*INICIO MAIN*/
main {
  border-top: #3f3835 5px solid;
  background-image: url(../assets/Wave.svg);
  background-size: cover;
  padding: 2rem; }
  main h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center; }
  main h2 {
    font-size: 25px;
    text-align: center;
    font-weight: bold; }
  main h3 {
    font-size: 16px;
    color: #333; }
  main .row {
    --bs-gutter-x: 0; }
  main .info {
    display: flex;
    height: 350px;
    width: 1000px;
    background-color: #FFF8B4;
    border: 2px solid #000;
    box-shadow: 10px 15px #3f3835;
    padding: 20px;
    margin: 1.5rem auto; }
    @media (max-width: 576px) {
      main .info {
        flex-direction: column;
        height: auto;
        width: 90%;
        padding: 20px; } }
    main .info .info__img {
      border: 5px solid #3f3835;
      margin: 10px; }
      @media (max-width: 576px) {
        main .info .info__img {
          height: 300px;
          object-fit: cover; } }
  main .height-info {
    margin: 2rem 0; }
  @media (max-width: 576px) {
    main {
      height: auto;
      padding: 2rem 0rem; } }

.centre {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 0;
  height: 85vh; }
  @media (max-width: 576px) {
    .centre {
      height: auto; } }
  .centre .main__layout-2 {
    display: flex;
    background-color: #FFF8B4;
    padding: 25px;
    align-items: center;
    box-shadow: 10px 15px #3f3835;
    border: 2px solid #000;
    height: 450px; }
    @media (max-width: 576px) {
      .centre .main__layout-2 {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 900px; } }
    .centre .main__layout-2 .main__organization {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px;
      text-align: left; }
      @media (max-width: 576px) {
        .centre .main__layout-2 .main__organization {
          flex-direction: column;
          width: 90%;
          padding: 5px; } }
      .centre .main__layout-2 .main__organization .divi {
        width: 550px; }
        .centre .main__layout-2 .main__organization .divi .masInfo {
          padding: 10px;
          background-color: #3f3835;
          color: #fff;
          box-shadow: #222 3px 5px;
          margin: 10px; }
          @media (max-width: 576px) {
            .centre .main__layout-2 .main__organization .divi .masInfo .margin {
              margin: 10px; } }
          .centre .main__layout-2 .main__organization .divi .masInfo:active {
            background-color: #c4ac7e;
            color: #000; }
        @media (max-width: 576px) {
          .centre .main__layout-2 .main__organization .divi {
            width: 100%; } }
      .centre .main__layout-2 .main__organization .divi h1 {
        text-align: left;
        font-size: 40px; }
        @media (max-width: 576px) {
          .centre .main__layout-2 .main__organization .divi h1 {
            font-size: 25px; } }
      .centre .main__layout-2 .main__organization .divi h3 {
        font-size: 25px; }
        @media (max-width: 576px) {
          .centre .main__layout-2 .main__organization .divi h3 {
            font-size: 18px; } }
    .centre .main__layout-2 .carousel {
      border: 5px solid #3f3835;
      margin: 10px;
      width: 350px; }
      .centre .main__layout-2 .carousel .carousel-item {
        width: 350px; }
        @media (max-width: 576px) {
          .centre .main__layout-2 .carousel .carousel-item {
            width: 100%; } }
      .centre .main__layout-2 .carousel .carousel-control-next-icon,
      .centre .main__layout-2 .carousel .carousel-control-prev-icon {
        background-color: #888; }
  .centre .main__layout {
    display: flex;
    background-color: #FFF8B4;
    padding: 35px;
    align-items: center;
    width: 650px;
    box-shadow: 10px 15px #3f3835;
    border: 2px solid #000; }
    @media (max-width: 576px) {
      .centre .main__layout {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: auto; } }
    .centre .main__layout .main__organization {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: center;
      width: 250px;
      margin: 0 auto; }
      @media (max-width: 576px) {
        .centre .main__layout .main__organization {
          flex-direction: column;
          width: 90%;
          padding: 5px; }
          .centre .main__layout .main__organization .masInfo {
            padding: 10px;
            background-color: #3f3835;
            color: #fff;
            box-shadow: #222 3px 5px;
            margin: 10px; } }
    @media (max-width: 576px) and (max-width: 576px) {
      .centre .main__layout .main__organization .masInfo .margin {
        margin: 10px; } }
      @media (max-width: 576px) {
            .centre .main__layout .main__organization .masInfo:active {
              background-color: #c4ac7e;
              color: #000; } }
      .centre .main__layout .main__organization .divi h1 {
        font-size: 40px; }
        @media (max-width: 576px) {
          .centre .main__layout .main__organization .divi h1 {
            font-size: 25px; } }
      .centre .main__layout .main__organization .divi h3 {
        font-size: 25px; }
        @media (max-width: 576px) {
          .centre .main__layout .main__organization .divi h3 {
            font-size: 18px; } }
    .centre .main__layout .carousel {
      border: 5px solid #3f3835;
      margin: 10px; }
      .centre .main__layout .carousel .carousel-item {
        width: 450px; }
        @media (max-width: 576px) {
          .centre .main__layout .carousel .carousel-item {
            width: 100%; } }

.height-testimonial {
  height: auto;
  display: flex;
  flex-direction: column;
  text-align: center; }
  .height-testimonial .deploy-menu, .height-testimonial .testimonial-centre .deploy-menu {
    position: relative;
    display: inline-block;
    width: 400px; }
    @media (max-width: 576px) {
      .height-testimonial .deploy-menu, .height-testimonial .testimonial-centre .deploy-menu {
        width: 99%; } }
    .height-testimonial .deploy-menu .divi1, .height-testimonial .testimonial-centre .deploy-menu .divi1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 500ms;
      padding: 4px 8px;
      text-decoration: none;
      text-align: center;
      margin: 0 auto;
      background-color: #FFF8B4;
      border: 2px solid #000;
      box-shadow: 10px 15px #3f3835;
      width: 80%;
      margin: 30px auto; }
      .height-testimonial .deploy-menu .divi1 .title-name, .height-testimonial .testimonial-centre .deploy-menu .divi1 .title-name {
        padding: 8px 16px;
        font-size: 16px;
        margin: 3rem;
        font-weight: bold; }
      .height-testimonial .deploy-menu .divi1 .testimonial-info, .height-testimonial .testimonial-centre .deploy-menu .divi1 .testimonial-info {
        display: flex;
        align-items: center; }
        .height-testimonial .deploy-menu .divi1 .testimonial-info .testimonial-name, .height-testimonial .testimonial-centre .deploy-menu .divi1 .testimonial-info .testimonial-name {
          display: flex;
          flex-direction: column;
          margin: 0;
          font-size: 1.2rem;
          font-weight: bold;
          color: #777; }
        .height-testimonial .deploy-menu .divi1 .testimonial-info .testimonial-img, .height-testimonial .testimonial-centre .deploy-menu .divi1 .testimonial-info .testimonial-img {
          height: 100px;
          width: 120px;
          border-radius: 50%;
          margin-right: 10px; }
  .height-testimonial .testimonial-centre {
    display: flex;
    justify-content: space-around;
    align-items: center; }

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto; }
  @media (max-width: 576px) {
    .login {
      width: 90%; } }
  .login .loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 300px;
    width: 70%;
    opacity: .9; }
  .login .loginform h2 {
    font-size: 40px;
    font-weight: bold; }
    @media (max-width: 576px) {
      .login .loginform h2 {
        font-size: 25px; } }
  .login .masInfo {
    padding: 10px;
    background-color: #3f3835;
    color: #fff;
    box-shadow: #333 3px 5px; }
  @media (max-width: 576px) {
    .login .height {
      height: 40vh; } }

.pie-pagina {
  width: 100%;
  background-color: #615651; }
  .pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px; }
    @media (max-width: 576px) {
      .pie-pagina .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35% 0px; } }
    .pie-pagina .grupo-1 .box figure {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    .pie-pagina .grupo-1 .box figure img {
      width: 300px; }
    .pie-pagina .grupo-1 .box h2 {
      color: #fff;
      margin-bottom: 25px;
      font-size: 20px; }
    .pie-pagina .grupo-1 .box p {
      color: #efefef;
      margin-bottom: 10px; }
    .pie-pagina .grupo-1 .box .red-social a {
      display: inline-block;
      text-decoration: none;
      width: 45px;
      height: 45px;
      line-height: 45px;
      color: #fff;
      margin-right: 10px;
      background-color: #3f3835;
      text-align: center;
      transition: all 300ms ease;
      box-shadow: #000 3px 5px; }
      .pie-pagina .grupo-1 .box .red-social a a:hover {
        color: #9f8c65; }
  .pie-pagina .grupo-2 {
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff; }
  .pie-pagina .grupo-2 small {
    font-size: 15px; }
