* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    font-size: 16px;
}

header {
    border-bottom: 2px #000 solid;
}

header img {
    width: 350px;
}

main {

    border-top: #3f3835 5px solid;
    background-image: url(../assets/Wave.svg);
    background-size: cover;
    background-color: #e9dab6;
}


h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-size: 25px !important;
    text-align: center;
    font-weight: bold;
}

h3 {
    font-size: 16px;
    color: #333;
}


.row {
    --bs-gutter-x: 0;
}


/*MENU RESPONSIVE*/

.nav {
    background-color: #d0bd93;
    height: 80px;
    z-index: 3;
    width: 100%;
}

.nav__img {
    width: 40px;
}

.nav__container {
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #d0bd93;
}

.nav__logo{
    box-shadow: #3f3835 3px 5px;
    border: #000 2px solid;
}

.nav__label,
.nav__input {
    display: none;
}

.nav__menu {
    display: grid;
    grid-auto-flow: column;
    gap: 2em;
}

.nav__item {
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
    background-color: #FFF8B4;
    color: #000;
    height: 40px;
    border: 2px solid #000;
    padding: 3px;
    box-shadow: #3f3835 3px 5px;
}

.nav__item::after {
    content: "";
    display: block;
    background: #FFF8B4;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;

}

.nav__item:hover {
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}



/*FIN MENU RESPONSIVE*/


.centre {
    min-height: 90vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.main__layout {
    display: flex;
    background-color: #FFF8B4;
    padding: 25px;
    align-items: center;
    box-shadow: 10px 15px #3f3835;
    border: 2px solid #000;
}

.main__organization {
    display: flex;
    height: 300px;
    align-items: center;
    text-align: left;
    padding: 30px;
    justify-content: space-between;
}

.carousel-item {
    width: 450px;
}

.divi{
    width: 550px;
}

.divi h1 {
    text-align: left;
    font-size: 40px;
}

.divi h3 {
    font-size: 25px;
}

.carousel {
    border: 5px solid #3f3835;
    margin: 10px;
}

.masInfo {
    padding: 10px;
    background-color: #3f3835;
    color: #fff;
    box-shadow: #333 3px 5px;
    margin: 10px;
}

.masInfo:active {
    background-color: #c4ac7e;
    color: #000
}

  
.testimonial-info {
    display: flex;
    align-items: center;
    visibility: visible;
  }

  
  .testimonial-info img {
    border-radius: 50%;
    margin-right: 10px;
    visibility: hidden;
  }
  
    
 .divi1:hover> .testimonial-info> img {
    visibility: visible;
  }
  
  .divi1:hover> .testimonial-info> span {
    visibility: visible;
  }

  .testimonial-name {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: #777;
    visibility: hidden;
  }

  .divi1:hover> .testimonial-info> .testimonial-name> span {
    visibility: visible;
  }

  .deploy-menu {
    position: relative;
    display: inline-block;
    width: 400px;
  }
  
   
  .deploy-menu:hover{
    display: block;
    width: 400px;
  }

  .height-testimonial {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.title-name{
    border: 2px solid #000;
    background-color: #FFF8B4;
    box-shadow: #333 3px 5px;
    color: #000;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    margin: 3rem;
}

.divi1:hover> .title-name{    
    border: none;
    box-shadow: none;
    color: #000;
}


  .divi1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
    padding: 4px 8px;
    text-decoration: none;
    width: 400px;
    text-align: center;
    margin: 0 auto;
  }

.divi1:hover{
    background-color: #FFF8B4;
    text-align: center;
    border: 2px solid #000;    
    box-shadow: 10px 15px #3f3835;
    width: 80%;
    margin: 30px auto 0;

}


.divi1 p {
    visibility: hidden;
}

.divi1:hover > p {
    visibility: visible;
}


.testimonial-centre{
    margin: 0 auto;
}


/*INFORMACION*/

.info {
    display: flex;
    height: 350px;
    width: 1000px;
    background-color: #FFF8B4;
    padding: 1rem;
    border: 2px solid #000;    
    box-shadow: 10px 15px #3f3835;
    margin: 0 auto;
    margin-top: 3rem;
}
/*FIN INFORMACION*/

/*FORMULARIO DE LOGIN*/
.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  auto;
    width: 400px;

}

.loginform {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;  
    align-items: center;  
    height: 300px;
    width: 70%;
    opacity: .9;
}

.buttons-ctc{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem;
}


/*FIN FORMULARIO LOGIN*/

/*FOOTER*/

.pie-pagina {
    width: 100%;
    background-color: #615651;
}

.grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img {
    width: 300px;
}

.box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.box p {
    color: #efefef;
    margin-bottom: 10px;
}

.red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #3f3835;
    text-align: center;
    transition: all 300ms ease;
    box-shadow: #000 3px 5px;
}

.red-social a:hover {
    color: #9f8c65;
}

.grupo-2 {
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.grupo-2 small {
    font-size: 15px;
}

/*FIN FOOTER*/

@media (max-width: 576px) {

    .testimonial-card{
        width: 90%;
    }

    main {
        height: auto;
    }

    .nav__logo{
        box-shadow: none;
        border: none;
    }

    /*INICIO*/

    .divi h1 {
        font-size: 25px;
    }

    .divi h3 {
        font-size: 18px;
    }

    .divi {
        width: 100%;
    }

    .main__layout {
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
        height: 650px;
    }

    .main__organization {
        flex-direction: column;
        width: 90%;
        padding: 5px;
    }

    .carousel-item {
        width: 100%;
    }

    .masInfo .margin {
        margin: 10px;
    }

    /*fin inicio*/


    /*INFORMACION*/

    .info {
        flex-direction: column;
        height: auto;
        width: 90%;
        margin-bottom: 2rem;
    }

    .info__img {
        height: 200px;
        object-fit: cover;
    }

    /*FIN INFORMACION*/


    .login {
        width: 90%;
    }

    .height{
        height: auto;
    }


    /*Inicio Menu Resonsive*/
    .nav__label {
        display: block;
        cursor: pointer;
    }

    .nav__menu {
        border-top: #615651 4px solid;
        position: fixed;
        top: 80px;
        bottom: 0px;
        background-color: #e9dab6;
        width: 100%;
        left: 0px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path .5s ease-in-out;
        z-index: 10;
    }

    .nav__input:checked+.nav__menu {
        background-color: #e9dab6;
        clip-path: circle(100% at center);
    }

    /*FIN MENU RESPONSIVE*/

    /*FOoter*/
    .grupo-1 {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35% 0px;
    }

    /*Fin Footer*/
}