* {
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    list-style: none;
    font-size: 16px;
}

header{
    border-bottom: 2px #9f8c65 inset;
}

header img{
    width: 350px;
}

section{
    background: url(../images/pexels-tina-nord-816377\ \(1\).jpg) no-repeat center top;
    min-height: 100vh;
    background-size: cover;
}

button{
    margin-top: 15px;
}

h1{
    font-size: 25px !important;
    text-align: center;
    font-weight: bold;
}

h2{
    font-size: 25px !important;
    text-align: center;
    font-weight: bold;
}

h3{
    font-size: 16px !important;
    color: #333;
    text-align: center;
}

.row{
    --bs-gutter-x:0;
}


/*MENU RESPONSIVE*/

.nav{
    background-color: #d0bd93;
    height: 80px;
    z-index: 3;
    width: 100%;
}

.nav__img{
    width: 40px;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #d0bd93;
}


.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color: #000;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
    content:"";
    display: block;
    background:#FFF8B4;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0,100% 0, 100% 100%, 0 100%);
}

.nav__label{
    display: block;
    cursor: pointer;
    }

.nav__menu{
    border-top: #FFF8B4 4px solid;
    position:fixed;
    top: 80px;
    bottom: 0px;
    background-color: #c0a97c;
    width: 100%;
    left: 0px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
    z-index: 10;
    }

.nav__input:checked + .nav__menu{
    background-color: #c0a97c;
    clip-path: circle(100% at center);
    }

/*FIN MENU RESPONSIVE*/

.divi {
    background-color: #FFF8B4;
    background-image: url(../images/fondo-main.jpg);
    background-size: cover;
    border: solid 5px #9f8c65;
    height: 250px;
    width: 300px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
    margin-top: 200px;
    margin-left: 14%;
  }

.divi:hover{  
    background-image: url(../images/fondo-main-hover.jpg);
    background-color: #FFF8B4;
    height: 500px;
    width: 600px;
    margin-top: 50px;
    text-align: center;
    margin-left: -20%;
}


.divi p {
    visibility: hidden;
}

.divi:hover > p {
    visibility: visible;
}


.divi h3 {
    visibility: visible;
}

.divi:hover > h3{
    visibility: hidden;
}



.divi1 {
    background-color: #FFF8B4;
    background-size: cover;
    border: solid 5px #9f8c65;
    height: 250px;
    width: 300px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
    margin-top: 200px;
    margin-left: 8%;
}

.divi1:hover{
    background-image: none;
    background-color: #FFF8B4;
    height: 500px;
    width: 600px;
    text-align: center;
    margin-top: 50px;
    margin-left: -20%;
}

.divi1 p {
    visibility: hidden;
}

.divi1:hover > p {
    visibility: visible;
  }

.divi2 {
    background-color: #FFF8B4;
    background: url(../images/pexels-anete-lusina-5240734.jpg) no-repeat center bottom ;
    background-size: cover;
    border: solid 5px #9f8c65;
    height: 250px;
    width: 300px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
    margin-top: 200px;
    margin-left: 30% ;
}

.divi2:hover{
    background-image: none;
    background-color: #FFF8B4;
    height: 500px;
    width: 600px;
    margin-top: 50px;
    text-align: center;
}

.divi2 p {
    visibility: hidden;
}

.divi2:hover > p {
    visibility: visible;
  }

  
.divi3 {
    background-color: #FFF8B4;
    background: url(../images/pexels-anete-lusina-5240734.jpg) no-repeat center bottom ;
    background-size: cover;
    border: solid 5px #9f8c65;
    height: 250px;
    width: 300px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 500ms;
    margin-top: 200px;
    margin-left: 30% ;
}

.divi3:hover{
    background-image: none;
    background-color: #FFF8B4;
    height: 500px;
    width: 600px;
    text-align: center;
    margin-top: 50px;
    text-align: center;
    margin-left: -100px;
}

.divi3 p {
    visibility: hidden;
}

.divi3:hover > p {
    visibility: visible;
  }


.bk-img{
    background: url(../images/pexels-arina-krasnikova-6998275.jpg) no-repeat center center ;
    background-size: cover;
}

.bk-img1{
    background: url(../images/sanacion.png) no-repeat center center ;
    background-size: cover;
}

.bk-img2{
    background: url(../images/reconexion.png) no-repeat center center ;
    background-size: cover;
}

.bk-img3{
    
    background: url(../images/pexels-anete-lusina-5240734.jpg) no-repeat center bottom ;
    background-size: cover;
}

.transition__button1{
    display: none;
}

.transition__button2{
    display: none;
}


.main__div__text__contact{
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    padding: 40px;
    opacity: .9;
    border: 2px #9f8c65 solid ;
    margin-left: -23%;
    margin-top: 100px;
}

.main__div__text__user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    padding: 40px;
    opacity: .9;
    margin-left: -23%;
    margin-top: 100px;
}

.main__div__text__contact h1{
    margin: 50px;
    margin-bottom: 30px;
    font-weight: bold;
}

.main__div__text__contact p{
    margin-bottom: 15px;
    font-weight: bold;
}
.main__div__text__contact a{
    padding-top: 10px;
    font-weight: bold;
}


.main__div__img1{
    height: 250px;
    padding: 15px;
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border: 2px solid #9f8c65;
    border-left: none;
}


.main__div__textimg__1{
    height: 400px;
    padding: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: .9;
}

.main__div__text__1{
    background-color: #FFF8B4;
    border: solid 2px #9f8c65;
    height: 250px;
    padding: 10px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none ;
}

.main__div__text__1 h1{
    padding: 15px;
}


/*FORMULARIO DE LOGIN*/
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loginform{
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 70px;
    opacity: .9;
    border: 2px #9f8c65 solid ;
}


.button-ctc{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    border: #9f8c65 2px solid;
    padding: 4px;
    background-color: #7a6b64;

}

/*FIN FORMULARIO LOGIN*/

/*TIMELINE*/

/*FIN TIMELINE*/

/*FOOTER*/

.pie-pagina{
    width: 100%;
    background-color: #615651;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 300px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #3f3835;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: #9f8c65;
}
.pie-pagina .grupo-2{
    background-color: #000;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
/*FIN FOOTER*/

    @media (max-width: 700px){

    .divi1 {
        margin-left: 15%;
    }

    .divi2 {
        margin-left: 14% ;
    }

    .divi3 {
        margin-left: 14% ;
        margin-bottom: 15px;
    }

    
    .divi:hover{
        background-image: none;
        background-color: #FFF8B4;
        height: 600px;
        width: 90%;
        margin-left:5% ;
        }

    .divi1:hover{
        height: 600px;
        width: 90%;
        margin-left:5%;
        }
        

    .divi2:hover{
        height: 600px;
        width: 90%;
        margin-left:5%;
    }
    
    
    .divi3:hover{
        height: 600px;
        width: 90%;
        margin-left:5%;
        margin-bottom: 15px;
    }

    .loginform{
        width: 90%;
        }


    .main__div__textimg__1{
        width: 100%;
        padding: 40px;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        margin-top: 25%;
    }

    .main__div__text__1{
        height: 900px;
        border-right: solid 2px #9f8c65;
        border-bottom: none;
    }

    
    .main__div__img1{
        width: 100%;
        height: 450px;
        border-left: 2px solid #9f8c65;
        border-top: none;
    }


    .transition__button1{
        display: flex;
        align-items: center;
        margin: 0;
        margin-top: 30px;
        padding: 10px;
        color: white;
        border: #9f8c65 2px solid;
        background-color: #7a6b64;
    }

/*INICIO INTENTO DE TRANSFORM*/

    .transition{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .transition__button1:checked > .main__div__textimg__1 .transi{
        visibility: visible;
    }

    .transition__button1:checked > .main__div__img1 .transi{
        visibility: visible;
    }

    .transition__button2:checked{
        visibility: hidden;
    }

    .transition__button2{
        visibility: hidden;
    }

    .main__div__textimg__1 .transi {
        visibility: hidden;
    }
    
    .main__div__img1 .transi{
        visibility: hidden;
    }

    /*FIN INTENTO DE TRANSFORM*/
    

    .main__div__text__contact{
        margin-left: 5%;
        width: 90%;
        text-align: center;
    }

    .main__div__text__user{
        margin-left: 5%;
        width: 90%;
        text-align: center;
        padding: 20px;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35% 0px;
        }

    }        

