* {
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
    font-size: 16px;
}

header{
    background-color: #d0bd93;
    padding: 8px;
    border-bottom: 2px #9f8c65 inset;
}

header img{
    width: 350px;
}

/*main{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}*/

.nav{
    background-color: #d0bd93;
    height: 80px;
}

.nav__img{
    width: 40px;
}

.nav__container{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    background-color: #d0bd93;
}


.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__item{
    color: #000;
    text-decoration: none;
    --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}

.nav__item::after{
    content:"";
    display: block;
    background:#7a6b64;
    width: 90%;
    margin-top: 3px;
    height: 3px;
    clip-path: var(--clippy);
    transition: clip-path .5s;
}

.nav__item:hover{
    --clippy: polygon(0 0,100% 0, 100% 100%, 0 100%);
}

.main__div{
    opacity: .9;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.main__div__h1{
    padding: 15px;
    border: #9f8c65 2px solid;
    opacity: .9;
}

.main__div__text{
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 600px;
    padding: 40px;
    border: 2px #9f8c65 solid ;
    border-right: none;
}

.main__div__text__img{
    height: 350px;
    display: flex;
    justify-content: center;
    background-color: #FFF8B4;
    border: #9f8c65 2px solid;
    border-left: none;
    padding: 15px;
}

.main__div__text h1{
    padding: 15px;
}

.main__div__text p{
    padding: 30px;
}

.main__div__contact{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.main__div__text__contact{
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 600px;
    padding: 40px;
    opacity: .9;
    border: 2px #9f8c65 solid ;
}

.main__div__text__contact h1{
    padding: 15px;
}

.main__div__text__contact p{
    padding: 30px;
    font-weight: bold;
}
.main__div__text__contact a{
    padding-top: 10px;
    font-weight: bold;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.loginform{
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 300px;
    width: 600px;
    padding: 40px;
    opacity: .9;
    border: 2px #9f8c65 solid ;
}


.main__div__text__user label{
    padding: 10px;
}

.main__div__text__user button{
    margin: 15px;
    padding: 5px;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.main__div__text__user h1{
    padding-bottom: 80px;
}

.main__div__text__user__back{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 2;
}

.main__div__textimg__1{
    height: 400px;
    padding: 40px;
    border-right: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    opacity: .9;
}

.main__div__text__1{
    background-color: #FFF8B4;
    border: solid 2px #9f8c65;
    height: 250px;
    padding: 10px;
    opacity: .9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: none ;
}

.main__div__text__1 h1{
    padding: 15px;
}

.main__div__text__2 h2{
    padding: 15px;
}

.main__div__img img{
    height: 350px;
    padding: 15px;
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .9;
    border: #9f8c65 solid 2px;
}

.main__div__img1{
    height: 240px;
    padding: 15px;
    background-color: #FFF8B4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #9f8c65;
    border-left: none;
}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 50px;
    background-color:  #7a6b64;
    padding: 10px;
    color: #000;    
}

@media (max-width: 700px){
    .nav__label{
        display: block;
        cursor: pointer;
    }

    .nav__menu{
        position:fixed;
        top: 80px;
        bottom: 0px;
        background-color: #9f8c65;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: circle(0 at center);
        transition: clip-path 1s ease-in-out;
    }

    

.nav__input:checked + .nav__menu{
    background-color: #9f8c65;
    clip-path: circle(100% at center);
}
}


